/vendor/
/node_modules/
.env
.env.backup
/public/hot
/public/storage
/storage/*.key
/storage/framework/cache/*
/storage/framework/sessions/*
/storage/framework/views/*
/storage/logs/*.log
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
phpcs.xml
phpunit.xml

!database/database.sqlite
/database.sqlite
