/* breadcrumbs styles start */

.birthdayInfoBreadcrumbsContainer {
  margin-top: 10px;
  background-color: #ebebeb;
  padding: 10px 15px;
  border-radius: 7px;
}

.birthdayInfoBreadcrumbs {
  font-size: 14px;
}

.birthdayInfoBreadcrumbs a {
  color: #e50296 !important;
  text-decoration: none;
}

.birthdayInfoBreadcrumbs a:hover {
  text-decoration: underline;
}

.birthdayInfoBreadcrumbs .MuiTypography-root {
  font-weight: 600;
}

.css-jhr02i-MuiBreadcrumbs-separator {
  color: #e50296 !important;
}

/* breadcrumbs styles end */

.birthdayInfoTitle {
  font-weight: 600;
  color: #d95054;
}
